@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: "Roboto";
    font-size: large;
}


@media screen and (min-width: 480px) {
    .grid {
        height: 700px;
        width: 400px;
    };

    .number {
    height: 90px;
    width: 90px;
    font-size: 48px;
    };
}