$color-numbers-background: #495057;
$color-numbers: white;
$color-operators-background: #ff9e00;
$color-operators: white;
$color-other-background: #adb5bd;
$color-other: black;

.number {
    background-color: $color-numbers-background;
    height: 50px;
    width: 50px;;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    color: $color-numbers;
    text-align: center;
    font-size: 24px;
  }

  .operator {
    background-color: $color-operators-background;
    height: 50px;
    width: 50px;;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    color: $color-operators;
    text-align: center;
    font-size: 24px;
  }

  .other {
    background-color: $color-other-background;
    height: 50px;
    width: 50px;;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    color: $color-other;
    text-align: center;
    font-size: 24px;
  }

  #equal {
    background-color: $color-operators-background;
    height: 50px;
    width: 50px;;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    color: $color-operators;
    text-align: center;
    font-size: 24px;
  }

  #zero {
    background-color: $color-numbers-background;
    height: 50px;
    width: 100px;;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    color: $color-operators;
    text-align: center;
  }