$color-numbers-background: #323232;
$color-numbers: white;
$color-operators-background: #ff9e00;
$color-operators: white;
$color-other-background: #bfc0c0;
$color-other: black;

.number {
    background-color: $color-numbers-background;
    border: none;
    height: 75px;
    width: 75px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    color: $color-numbers;
    text-align: center;
    font-size: 36px;
  }

  .operator {
    background-color: $color-operators-background;
    border: none;
    height: 75px;
    width: 75px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    color: $color-operators;
    text-align: center;
    font-size: 36px;
  }

  .other {
    background-color: $color-other-background;
    border: none;
    height: 75px;
    width: 75px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    color: $color-other;
    text-align: center;
    font-size: 36px;
  }

  #equal {
    background-color: $color-operators-background;
    border: none;
    height: 75x;
    width: 75px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    color: $color-operators;
    text-align: center;
    font-size: 36px;
  }

  #zero {
    background-color: $color-numbers-background;
    border: none;
    height: 75px;
    width: 165px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    color: $color-operators;
    text-align: center;
  }