$color-background: black;

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    position: relative;
    border-radius: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    border: 2px solid black;
    height: 600px;
    width: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: $color-background;
    column-gap: 5px;
    justify-content: space-around;
    align-content: space-around;
}

#display {
    border: 20px;
    padding: 20px;
    height: 70px;
    max-height: 70px;
    text-align: right;
    font-size: 72px;
    color: white;
    // max-width: 8ch;
    // text-overflow: ellipsis;
    // overflow;
    // white-space: nowrap;
    grid-column-start: 1;
    grid-column-end: 5;
}

#zero {
    grid-column-start: 1;
    grid-column-end: 3;
    align-items: center;
}