@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto";
  font-size: large;
}

@media screen and (min-width: 480px) {
  .grid {
    height: 700px;
    width: 400px;
  }

  .number {
    height: 90px;
    width: 90px;
    font-size: 48px;
  }
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  position: relative;
  border-radius: 20px;
  padding-left: 10px;
  padding-bottom: 10px;
  border: 2px solid black;
  height: 600px;
  width: 350px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: black;
  column-gap: 5px;
  justify-content: space-around;
  align-content: space-around;
}

#display {
  border: 20px;
  padding: 20px;
  height: 70px;
  max-height: 70px;
  text-align: right;
  font-size: 72px;
  color: white;
  grid-column-start: 1;
  grid-column-end: 5;
}

#zero {
  grid-column-start: 1;
  grid-column-end: 3;
  align-items: center;
}

.number {
  background-color: #323232;
  border: none;
  height: 75px;
  width: 75px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  color: white;
  text-align: center;
  font-size: 36px;
}

.operator {
  background-color: #ff9e00;
  border: none;
  height: 75px;
  width: 75px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  color: white;
  text-align: center;
  font-size: 36px;
}

.other {
  background-color: #bfc0c0;
  border: none;
  height: 75px;
  width: 75px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  color: black;
  text-align: center;
  font-size: 36px;
}

#equal {
  background-color: #ff9e00;
  border: none;
  height: 75x;
  width: 75px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  color: white;
  text-align: center;
  font-size: 36px;
}

#zero {
  background-color: #323232;
  border: none;
  height: 75px;
  width: 165px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  color: white;
  text-align: center;
}